* {
box-sizing: border-box;
}

p {
  background-color: grey;
  border: 1px solid black;
 
}

.chicken {
background-color: pink;
 
}

.beef {
  color: white;
background-color: red;
}

.sushi {
background-color: yellow;
}

.row {
width:90%
}



/** large devices **/

@media ( min-width: 992px){

  #1 {
 
  }

}

/** medium devices **/

@media ( min-width: 768px) and (max-width:991px){
  
  #1 {
 width: 50%;
  }
  
    #2 {
 width: 50%;
  }
  
    #3 {
 width: 50%;
  }
  
}
