h1 {
  align:center;
  }


.row {
width:100%
}


.block {
  background-color: grey;
  border: 1px solid black;
  margin: 10px;
  float: left;
  width:30%;
  padding:0px 0px 0px 10px;

}

.chicken {
  border: 1px solid black;
  border-width: 0px 1px 1px 1px;
background-color: pink;
width: 40%;
position: relative;
left: 60%;
align: right;
text-align: center;
 
}

.beef {
border: 1px solid black;
  border-width: 0px 1px 1px 1px;
color: white;
background-color: red;
width: 40%;
position: relative;
left: 60%;
align: right;
text-align: center;
}

.sushi {
  border: 1px solid black;
  border-width: 0px 1px 1px 1px;
background-color: yellow;
width: 40%;
position: relative;
left: 60%;
align: right;
text-align: center;
}


@media ( max-width: 767px){

.block {
background-color: grey;
  border: 1px solid black;
  margin: 10px;
  float: left;
  width:100%;
  padding:0px 0px 0px 10px;

  }
}

/** medium devices **/

@media ( min-width: 768px) and (max-width:991px){
  

.block {
background-color: grey;
  border: 1px solid black;
  width:50%;
  padding:0px 0px 0px 10px;

  }
}



  
