h1 {
  align:center;
  }


.row {
width:100%
}


.block {
  background-color: grey;
  border: 1px solid black;
  margin: 10 px;
  width: 30%;
}

.chicken {
background-color: pink;
 
}

.beef {
color: white;
background-color: red;
}

.sushi {
background-color: yellow;
}



  
